@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontLogin: 'Bebas Neue', cursive;
}

.login{
    width: 100%;
    height: 100vh;
    display: flex;
}

.imagem-login{
    width: 65%;
    height: 100%;
    /* background-color: #ccc; */
    background-image: url('../img/Rectangle\ 1.svg');
    background-size:cover;
}

.campos-login{
    width: 35%;
    height: 100%;
    /* background-color: lightblue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.content-login{
    width: 290px;
    height: 425px;
    /* background-color: rgba(144, 238, 144, 0.432); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightpink; */
    /* font-family: 'Itim', cursive; */
    color: rgba(0, 0, 0, 0.466);
}

.logo img{
    max-width: 120px;
}

.logo p{
    font-size: 14px;
}

.campos{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #ccc; */
}

.campos input{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: solid 2px #ccc;
    color: rgba(0, 0, 0, 0.705);
    font-size: 17px;
}

.campos input::placeholder{
    font-family: var(--fontLogin);
    color: rgba(0, 0, 0, 0.479);
}

.campos button{
    width: 100%;
    height: 40px;
    background-color: #81AFD4;
    border: none;
    border-radius: 5px;
    color: #fff;
    /* font-weight: 600; */
    font-size: 20px;
    font-family: var(--fontLogin);
    margin-top: 0.3em;
}

.campos button:hover{
    color: rgba(0, 0, 0, 0.911);
    background-color: #f1f1f1;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: rgba(204, 204, 204, 0.548) 10px 10px 10px;
}

.mensagem-erro_login{
    width: 100%;
    height: 6%;
    text-align: center;
    color: red;
}